# üîπ SQL (Structured Query Language)

**What it is:** A language used to communicate with relational databases.  

**Purpose:** Lets you query, insert, update, and manage data in databases.  

**Examples of SQL databases:**
- MySQL
- PostgreSQL
- Oracle DB
- Microsoft SQL Server
- SQLite  

So, SQL itself is just the **language/standard**, not a database.  

---

# üîπ SQLite

**What it is:** A lightweight database engine that implements SQL.  

**Type:** Serverless, self-contained, file-based database (all data stored in a single `.db` file).  

**Best for:**
- Mobile apps (Android/iOS)
- Small desktop apps
- Prototyping or learning SQL
- Applications where simplicity and low memory usage matter  

---

# üîë Main Differences

| Feature     | SQL (Language) | SQLite (Database Engine) |
|-------------|----------------|---------------------------|
| Definition  | A language (used in all relational databases) | A database engine that uses SQL |
| Usage       | Used in many DBMS (MySQL, PostgreSQL, etc.)   | Specific lightweight DB |
| Storage     | Depends on DBMS (can be large, distributed)   | Stores data in a single file |
| Server      | Usually needs a server (e.g., MySQL server)   | No server needed (serverless) |
| Scalability | Suitable for large-scale, enterprise apps     | Suitable for small to medium apps |

# üìò SQLite Notes for Data Science Engineers

---

## üîπ 1. What is SQLite?
- Lightweight, **serverless**, file-based database engine.
- Stores entire database in a single `.db` or `.sqlite` file.
- Uses **SQL syntax**, but fewer features than enterprise DBs.
- **Portable** ‚Üí can be easily copied and shared.

---

## üîπ 2. Why SQLite? (Advantages)
- ‚úÖ No server setup needed (serverless).
- ‚úÖ Lightweight & fast for small/medium datasets.
- ‚úÖ Cross-platform (Windows, Linux, Mac, Android, iOS).
- ‚úÖ Great for **mobile apps & embedded systems**.
- ‚úÖ Perfect for **prototyping & learning SQL**.
- ‚úÖ Works smoothly with **Python & Pandas**.

---

## üîπ 3. Limitations
- ‚ùå Not suitable for **large-scale enterprise systems**.
- ‚ùå **Low concurrency** (few users writing at once).
- ‚ùå Limited advanced DB features (e.g., stored procedures).
- ‚ùå Practically limited to medium datasets (< 100 GB is ideal).

---

## üîπ 4. Data Types in SQLite
- **INTEGER** ‚Üí whole numbers  
- **REAL** ‚Üí floating point numbers  
- **TEXT** ‚Üí strings  
- **BLOB** ‚Üí binary data (images, files)  
- **NULL** ‚Üí empty value  

> ‚ÑπÔ∏è SQLite is **dynamically typed** (it doesn‚Äôt strictly enforce data types).

---

## üîπ 5. Basic SQL Commands

### ‚úÖ Create Table
```sql
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    marks REAL
);

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [1]:
import sqlite3

def create_database():
    conn = sqlite3.connect('test.db')
    conn.close()
    print("Database created and successfully connected.")

# Test the function
create_database()

Database created and successfully connected.

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [3]:
def create_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.")

# Test the function
create_table()

Table 'employees' created successfully.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [11]:
# import sqlite3

def insert_employee(emp_id, name, age, department):
    try:
        with sqlite3.connect("test.db", timeout=10) as conn:  # timeout waits if DB is busy
            cursor = conn.cursor()
            cursor.execute('''
                INSERT INTO employees (id, name, age, department)
                VALUES (?, ?, ?, ?)
            ''', (emp_id, name, age, department))
            print(f"‚úÖ Employee {name} inserted successfully.")
    except sqlite3.IntegrityError:
        print(f"‚ö†Ô∏è Employee with id {emp_id} already exists.")
    except sqlite3.OperationalError as e:
        print(f"‚ö†Ô∏è Database error: {e}")

In [12]:
import gc, sqlite3

gc.collect()
conn = sqlite3.connect("test.db")
conn.close()
print("üîÑ Clean slate, all old connections closed.")

üîÑ Clean slate, all old connections closed.

2. Insert at least 5 different employees into the `employees` table.

In [13]:
# Insert 5 different employees
insert_employee(2, 'Bob', 25, 'Engineering')
insert_employee(3, 'Charlie', 28, 'Sales')
insert_employee(4, 'David', 35, 'Marketing')
insert_employee(5, 'Eve', 22, 'HR')

‚ö†Ô∏è Employee with id 2 already exists.
‚ö†Ô∏è Employee with id 3 already exists.
‚ö†Ô∏è Employee with id 4 already exists.
‚ö†Ô∏è Employee with id 5 already exists.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [6]:
def fetch_all_employees():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees')
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_all_employees()

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

2. Write a Python function to fetch and display all employees from a specific department.

In [7]:
def fetch_employees_by_department(department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE department = ?', (department,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_by_department('HR')

(1, 'Alice', 30, 'HR')
(5, 'Eve', 22, 'HR')

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [14]:
def update_employee_department(employee_id, new_department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        UPDATE employees
        SET department = ?
        WHERE id = ?
    ''', (new_department, employee_id))
    conn.commit()
    conn.close()
    print("Employee department updated successfully.")

# Test the function
update_employee_department(1, 'Finance')

Employee department updated successfully.

2. Update the department of at least 2 employees and display the updated records.

In [15]:
# Update the department of 2 employees
update_employee_department(2, 'Research')
update_employee_department(3, 'Customer Support')

# Fetch and display all records
fetch_all_employees()

Employee department updated successfully.
Employee department updated successfully.
(1, 'Alice', 30, 'Finance')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Customer Support')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [16]:
def delete_employee(employee_id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        DELETE FROM employees
        WHERE id = ?
    ''', (employee_id,))
    conn.commit()
    conn.close()
    print("Employee deleted successfully.")

# Test the function
delete_employee(5)

Employee deleted successfully.

2. Delete at least 1 employee and display the remaining records.

In [17]:
# Delete an employee
delete_employee(4)

# Fetch and display all records
fetch_all_employees()

Employee deleted successfully.
(1, 'Alice', 30, 'Finance')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Customer Support')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [18]:
def fetch_employees_older_than(age):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE age > ?', (age,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_older_than(25)

(1, 'Alice', 30, 'Finance')
(3, 'Charlie', 28, 'Customer Support')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [19]:
def fetch_employees_name_starts_with(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_name_starts_with('A')

(1, 'Alice', 30, 'Finance')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.